<section id="Sponsor" class="container content-section text-center" style="margin-bottom: 80px;">
    <div class="container text-center">
        <h2 class="main-title">Sponsors</h2>
      
        <div class="row">
          <div class="col-sm-4">
            <img
              src="{{ site.baseurl }}/img/Flashbots-logo.svg"
              alt="Flashbots logo"
              class="center-block"
              style="max-width: 150px; height: auto;"
            />
          </div>
          <div class="col-sm-4">
            <img
              src="{{ site.baseurl }}/img/NSFSBIR.png"
              alt="NSF SBIR logo"
              class="center-block"
              style="max-width: 150px; height: auto;"
            />
          </div>
          <div class="col-sm-4">
            <img
              src="{{ site.baseurl }}/img/0xPARC.png"
              alt="0xPARC logo"
              class="center-block"
              style="max-width: 150px; height: auto;"
            />
          </div>
        </div>
      </div>
      
</section>