<!-- Team Section -->
<section id="Team" class="container content-section text-center" style="margin-bottom: 80px;">
  <div class="row">
    <div class="col-lg-12">
      <br /><br />
      <h2>Meet Our Team</h2>
      <br />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h4><a href="https://elaineshi.com" style="text-decoration: underline;">Elaine Shi</a></h4>
      <p>President <br> Chief Scientist</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h4><a href="https://scholar.google.com/citations?user=PUvxukkAAAAJ&hl=en" style="text-decoration: underline;">Afonso Tinoco</a></h4>
      <p>Co-Founder<br> Research Engineer</p>
    </div>
  </div>

  <br/>

  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h4><a href="https://www.linkedin.com/in/tianyao-gu" style="text-decoration: underline;">Tianyao Gu</a></h4>
      <p>Co-Founder</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h4><a href="https://soc1024.ece.illinois.edu/" style="text-decoration: underline;">Andrew Miller</a></h4>
      <p>Advisor</p>
    </div>
  </div>
</section>
